.cart {
    width: 100%;
    height: auto;
    margin-bottom: 300px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 0px 0px;
    position: relative;
}

.modal {
    width: 400px;
    height: 150px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, 0.701);
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
}

.modal input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding: 10px;
    border-bottom: 2px solid rgb(108, 107, 107);
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.buttons button {
    border: none;
    border-radius: 10px;
    padding: 12px;
    background-color: rgb(238, 71, 71);
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

.cart-detail {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cart-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.cart-title-detail {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.cart-title-detail p {
    font-size: 20px;
}

.cart-detail h1 {
    color: rgb(238, 71, 71);
}

.cart-detail img {
    width: 90px;
    height: 110px;
    cursor: pointer;
}

.cart-left {
    width: 71%;
}

.cart-right {
    width: 28%;
    height: 350px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.checkout-btn {
    border: none;
    color: white;
    padding: 15px;
    width: 100%;
    background-color: rgb(238, 71, 71);
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

.cart-section {
    padding: 10px;
}

.cart-section h3 {
    color: rgb(0, 182, 243);
    font-weight: bold;
}

.cart-section p {
    color: red;
    font-weight: bold;
}

.cart-section button {
    border: none;
    color: white;
    padding: 10px;
    background-color: rgb(0, 182, 243);
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
}


.emptyCart {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.empty-icon {
    font-size: 21rem;
    color: rgb(238, 71, 71);
    cursor: pointer;
}

.empty-icon:hover {
    color: red;
}

.emptyCart h1 {
    color: rgb(238, 71, 71);
    font-size: 40px;
    cursor: pointer;
}

.emptyCart h1:hover {
    color: red;
}

.emptyCart button {
    margin-top: 20px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    background-color: rgb(238, 71, 71);
    color: white;
    padding: 20px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.emptyCart button:hover {
    background-color: rgb(253, 0, 0);
    color: white;
}

.delete-icon {
    font-size: 30px;
    color: rgb(238, 71, 71);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .cart {
        flex-direction: column;
    }

    .cart-title {
        display: none;
    }

    .cart-left {
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .cart-detail {
        width: 100%;
        font-size: 12px;
    }

    .cart-detail img {
        width: 50px;
        height: 60px;
    }

    .cart-right {
        width: 100%;
    }
}