.checkout {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f9f9f9;
}

.checkout-header h1 {
    text-align: left;
    color: #333;
}

.checkout-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.checkout-left {
    height: 50% !important;
    width: 60%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shipping-info {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

/* Cart-section css */
.debit-cart {
    width: 100%;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
}

.debit-cart p {
    color: #333;
}

.cart-container {
    width: 70%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.877);
    padding: 10px;
}

.cart-info input {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
}

.cart-date {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cart-date input {
    padding: 6px;
    border: 1px solid #ccc;
}

.button-group {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #3c7dc2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ff0000;
}

.user-info label,
.user-address label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.user-info input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.user-info input:hover {
    border: 1px solid #007bff;

}

.user-address input:hover {
    border: 1px solid #007bff;
}

.user-address {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.user-address input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* --Checkout right--*/

.checkout-right {
    width: 35%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.order-item {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid lightgrey;
}

.order-item-left {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.order-item img {
    width: 60px;
    height: 80px;
    border-radius: 5px;
}

.order-details {
    padding: 20px 0px;
}

.order-details h2 {
    color: brown
}

.order-details p {
    margin: 5px 0;
    color: #333
}

.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: #218838;
}

.empty-summary {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.empty-summary h3 {
    margin-top: 20px;
    text-align: center;
}

.empty-summary-icon {
    color: brown;
    font-size: 15rem;
}


@media screen and (max-width: 768px) {
    .checkout-container {
        flex-direction: column;
        width: 100%;
    }

    .checkout-left {
        width: 100%;
    }

    .user-address {
        flex-direction: column;
    }

    .checkout-right {
        width: 100%;
    }

    .debit-cart {
        width: 100%;
    }

    .cart-container {
        width: 100%;
    }

    .cart-date {
        flex-direction: column;
    }
}