.home {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.home-container {
    display: flex;
    justify-content: space-between;
}

.home-category {
    width: 29%;
    background-color: rgb(238, 237, 237);
    height: 380px;
    transition: transform 0.9s ease, box-shadow 0.9s ease;

}

.home-banner {
    width: 70%;
    position: relative;
    overflow: visible;
}

.banner-detail {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 20px;
    z-index: 10;
    font-size: 26px;
    line-height: 60px;
    color: rgb(255, 255, 255);
}

.banner-detail button {
    border: none;
    padding: 15px;
    color: white;
    background-color: brown;
    cursor: pointer;
    border-radius: 10px;
    font-size: 30px;
}

.banner-detail button:hover {
    color: white;
    background-color: rgb(255, 0, 0);
}


.list {
    font-size: 18px;
    padding: 10px;
    list-style: none;
    margin: 0px 10px;
}

.list:hover {
    cursor: pointer;
    color: white;
    background-color: brown;
    transform: scale(1.05);
    box-shadow: 0 2px 6px rgb(0, 0, 0);
}

.ul-list {
    line-height: 28px;
    margin-top: 10px;
}

.home-category h2 {
    background-color: brown;
    color: white;
    padding: 10px;
}

.image {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .home-container {
        flex-direction: column;
        width: 100%;
        font-size: 10px;
    }

    .home-category {
        width: 100%;
        height: 30%;
    }


    .home-banner {
        width: 100%;
    }

    .banner-detail {
        font-size: 10px;
        line-height: 30px;
        width: 100%;
        position: absolute;
    }

    .banner-detail button {
        padding: 10px;
        font-size: 10px;
        margin-top: 40px;
        margin-right: 20px;
    }
}