.home {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.home-container {
    display: flex;
    justify-content: space-between;
}

.home-category {
    width: 23%;
    background-color: rgb(241, 238, 238);
    height: 380px;
    transition: transform 0.5s ease, box-shadow 0.9s ease;
}

.home-category:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.home-banner {
    width: 76%;
    position: relative;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.home-banner:hover {
    transform: scale(1.02);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.list {
    font-size: 18px;
    padding: 10px;
    list-style: none;
    margin: 0px 10px;
}

.list:hover {
    cursor: pointer;
    color: white;
    background-color: brown;
    transform: scale(1.05);
    box-shadow: 0 2px 6px rgb(0, 0, 0);
}

.ul-list {
    line-height: 28px;
    margin-top: 10px;
}

.home-category h2 {
    background-color: brown;
    color: white;
    padding: 10px;
}

.image {
    width: 100%;
    object-fit: cover;
    height: 100%;
}


@media screen and (max-width: 768px) {
    .home-container {
        flex-direction: column;
        width: 100%;
        font-size: 10px;
    }

    .home-category {
        width: 100%;
    }

    .list {
        font-size: 15px;
    }

    .home-category h2 {
        font-size: 15px;
    }


    .home-banner {
        width: 100%;
    }

}