.infosection {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-div {
    width: 19%;
    height: 100%;
    padding: 15px;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    border-radius: 10px;

}

.icon {
    color: red;
    font-size: 30px;
}

.info-div:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgb(0, 0, 0);

}