.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f4f8;
}

.login-container {
    display: flex;
    width: 80%;
    height: 85%;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.login-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f4f8;
}

.login-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-right {
    width: 50%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-right h1 {
    font-size: 2.2rem;
    color: #333;
}

.login-right p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: 0.3s ease;
}

.login-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.login-button {
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    background: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
}

.login-button:hover {
    background-color: #001eff;
}

.login-footer {
    margin-top: 20px;
    font-size: 0.9rem;
    text-align: center;
}

.login-footer a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.login-footer a:hover {
    text-decoration: underline;
}

.upload-file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-top: 20px;

}

.upload-btn {
    background-color: #007bff;
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.upload-btn:hover {
    background-color: #001eff;
    transform: scale(1.05);
}

.upload-btn::after {
    content: '📷';
    margin-left: 8px;
}

.select-input {
    display: none;
}

.profil-picture {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #001eff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.profil-picture:hover {
    transform: scale(5);
}

.guest-button {
    border: none;
    background-color: #fb5858;
    padding: 10px;
    color: white;
    margin-top: 20px;
    border-radius: 10px;
    width: 40%;
    cursor: pointer;
}

.guest-button:hover {
    background-color: #ff0000;
}

.register-div {
    width: 100%;
    margin-top: 10px;
    border: 1px solid rgb(129, 127, 127);
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
}

.login-buttons {
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .login-container {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .login-left,
    .login-right {
        width: 100%;
    }

    .login-left img {
        height: 100%;
    }

    .login-right {
        margin-top: -20px;
        text-align: center;
    }

    .upload-file {
        width: 100%;
    }

    .guest-button {
        width: 100%;
    }

}

@media screen and (max-width: 1024px) {
    .guest-button {
        width: 100%;
    }
}