.navbar {
    border-bottom: 3px solid lightgrey;
}

.navbar-div {
    border: 1px solid red;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-size: 30px;
}

.navbar-form {
    display: flex;
    align-items: center;
    width: 500px;
    border: 1px solid red;
}

.navbar-form input {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
}

.navbar-right {
    border: 1px solid red;
    width: 200px;
}